html, body {margin: 0;
  height: 100%;
  overflow: hidden}

.app {
  display: flex;
  justify-content: flex-start;    /* Add this */
  flex-direction: column;
}

.primary-row {
  display: flex;
  flex-direction: row;
}

.information-row {
  display: flex;
  flex-direction: row;
}

/* delete all this once you start developing the actual main panel*/
.app-logo {
  animation: app-logo-spin infinite 20s linear;
  pointer-events: none;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
