.graph-view {
    background-color: #fcfcfc;
    align-content: center;
    color: white;
    margin-left:1px;
    padding:0px !important;
    grid-column-start: 2;
    grid-row-start: 1;
    overflow: auto;
}

.outer_svg{
    justify-content: center;
    align-content: center;
}

.inner_svg{
    justify-self: center;
    align-self: center;
}

.draggable {
    cursor: move;
}
