.graph-view {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    color: white;
    margin-left:1px;
    flex-basis:75%;
    padding:0px !important;
}
.outer_svg{
    justify-content: center;
    align-content: center;
}
.inner_svg{
    justify-self: center;
    align-self: center;
}
