.parametercontrolbox{
    margin: 1px;
    flex: 1;
    align-self: stretch;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0), 0 0 0 rgba(16, 22, 26, 0);
}

.parametercontrolbody{
    margin: 10px;
}
