@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
/*.sidebar-wrapper {*/
/*    width:30%;*/
/*    height:100%;*/
/*}*/
.sidebar{
    flex-basis: 25%;
    margin-right:5%;
    align-self: stretch;
}
.bp3-tree {
    height:100%;
    width:100%;
}
